@import '../../styles/variables.scss';

.preciosmaster{
    margin-top: 15vh;
    margin-bottom: 15vh;

    h2{
        color: $botella;
        text-align: center;
        font-family: $halyard;
        font-size: 130px;
        font-style: normal;
        font-weight: 400;
        line-height: 100.905%;
        margin-top: 10vh;
        margin-bottom: 40px;

        
        @include media990px {
            font-size: 100px;
        }

        @include media700px {
            font-size: 80px;
        }

        @include media600px {
            font-size: 60px;
        }

        @include media450px {
            font-size: 50px;
        }

        @include media390px {
            font-size: 12vw;
        }
    }
}

.preciostitle{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    row-gap: 75px;
    column-gap: 125px;

    @include media990px {
        grid-template-columns: 1fr 1fr;
    }

    @include media600px {
        grid-template-columns: 1fr;
        row-gap: 45px;
    }
}

.precios__categoria{
    display: block;

    h3{
        color: $botella;
        font-family: $halyard;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
        margin-top: 8px;
        margin-bottom: 20px;
        max-width: 90%;

        @include media700px {
            font-size: 28px;
        }

        @include media600px {
            font-size: 28px;
            text-align: left;
            max-width: 100%;
        }
    }
}

.precios__categoria-map{

}

.precio{
    display: flex;
    justify-content: space-between;

    p{
        color: $botella;
        font-family: $neue;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px;
        margin-top: 8px;
        letter-spacing: -1px;

        @include media700px {
            font-size: 20px;
        }

        @include media600px {
            font-size: 18px;
            text-align: center;
            max-width: 100%;
            line-height: 24px;
        }
    }

    .price{
        color: $esmeralda;
        white-space: nowrap;
    }
}

.precios__disclaimer{
    color: $botella;
    font-family: $neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    max-width: 95%;
    margin-top: 32px;
    letter-spacing: -0.4px;
    text-align: center;

    @include media700px {
        font-size: 14px;
        line-height: 18px; 
    }

    @include media600px {
        text-align: center;
        max-width: 100%;
    }
}